Repository digiv3rse/dotcom-rendering, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/client-side-infra, @guardian/tx-engineers, @guardian/supporter-revenue-stream

.github/CODEOWNERS:

# This file is matched from top down; subsequent matches override previous matches.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 												@guardian/dotcom-platform @guardian/client-side-infra

# These folders and all their contents are owned by the following teams.
/dotcom-rendering/ 								@guardian/dotcom-platform
/apps-rendering/ 								@guardian/dotcom-platform
/dotcom-rendering/src/components/marketing/ 	@guardian/tx-engineers
/dotcom-rendering/src/client/userFeatures/ 		@guardian/supporter-revenue-stream

# These file types, wherever they are, are co-owned by the following teams.
package.json 									@guardian/dotcom-platform @guardian/client-side-infra
tsconfig.json 									@guardian/dotcom-platform @guardian/client-side-infra

implement basic crossword page
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/types/content.ts
Owners: @guardian/dotcom-platform

add new /Crossword handler
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Owners: @guardian/dotcom-platform

minimum to make a crossword appear
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Crossword.importable.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/types/frontend.ts
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/client-side-infra

Run storybook 8 auto-migration
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AustralianTerritorySwitcher.importable.stories.tsx
  dotcom-rendering/src/components/Dropdown.stories.tsx
  dotcom-rendering/src/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/components/ShowMore.stories.tsx
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/client-side-infra

Fixed some changes made by the auto-migration
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/client-side-infra

Run storybook 8 auto-migration in AR
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/client-side-infra

Fixed some changes made by the AR auto-migration
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/client-side-infra

Alias react to preact in storybook
  dotcom-rendering/.storybook/main.ts
Owners: @guardian/dotcom-platform

Only use immersive styling on showcase images below tablet breakpoint
  dotcom-rendering/src/components/Figure.tsx
Owners: @guardian/dotcom-platform

chore(lint): remove unused prop
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/Treats.tsx
Owners: @guardian/dotcom-platform

Pillar colour highlight on hover
  dotcom-rendering/src/components/Titlepiece.tsx
Owners: @guardian/dotcom-platform

Rough implementation using grid
  dotcom-rendering/src/components/Titlepiece.stories.tsx
  dotcom-rendering/src/components/Titlepiece.tsx
  dotcom-rendering/src/components/TitlepieceGrid.tsx
Owners: @guardian/dotcom-platform

Add titlepiece to Masthead component and stories
  dotcom-rendering/src/components/Masthead.tsx
  dotcom-rendering/src/components/Titlepiece.stories.tsx
Owners: @guardian/dotcom-platform

Rough edition dropdown
  dotcom-rendering/src/components/Masthead.tsx
  dotcom-rendering/src/components/Titlepiece.stories.tsx
  dotcom-rendering/src/components/Titlepiece.tsx
  dotcom-rendering/src/components/TitlepieceEditionDropdown.stories.tsx
  dotcom-rendering/src/components/TitlepieceEditionDropdown.tsx
  dotcom-rendering/src/components/TitlepieceGrid.tsx
Owners: @guardian/dotcom-platform

UK Local Election tracker template
  dotcom-rendering/src/components/UKLocalElectionTracker.stories.tsx
  dotcom-rendering/src/components/UKLocalElectionTracker.tsx
Owners: @guardian/dotcom-platform

Nav responsiveness and clickability improvements
  dotcom-rendering/src/components/Titlepiece.tsx
Owners: @guardian/dotcom-platform

use DCR version of SDC header in new TopBar component only
  dotcom-rendering/src/components/Masthead.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Owners: @guardian/dotcom-platform

use DCR support header instead of SDC one
  dotcom-rendering/src/components/SupportTheG.importable.tsx
Owners: @guardian/dotcom-platform

remove useHasBeenSeen hook in favour of existsing useIsInView hook
  dotcom-rendering/src/components/marketing/hooks/useHasBeenSeen.ts
Owners: @guardian/tx-engineers

wip designs for support messaging
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/header/Header.tsx
Owners: @guardian/dotcom-platform, @guardian/tx-engineers

Add contributions headers to top bar story
  dotcom-rendering/fixtures/manual/contributionsHeader.ts
  dotcom-rendering/src/components/TopBar.stories.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
Owners: @guardian/dotcom-platform

migrate header files from support-dotcom-components
  dotcom-rendering/src/components/marketing/hooks/useHasBeenSeen.ts
Owners: @guardian/tx-engineers

update css for support messaging
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/header/Header.tsx
Owners: @guardian/dotcom-platform, @guardian/tx-engineers

fix sdc storybook decorator for topbar and style signinprompt header
  dotcom-rendering/src/components/TopBar.stories.tsx
  dotcom-rendering/src/components/marketing/header/Header.tsx
  dotcom-rendering/src/components/marketing/header/SignInPromptHeader.tsx
  dotcom-rendering/src/components/marketing/header/common/HeaderDecorator.tsx
Owners: @guardian/dotcom-platform, @guardian/tx-engineers

remove duplicated reduce motion css
  dotcom-rendering/src/components/marketing/header/SignInPromptHeader.tsx
Owners: @guardian/tx-engineers

Decide whether to render the UKLocalElectionTracker based on the embedUri
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FrontCard.tsx
Owners: @guardian/dotcom-platform

fix storybook mocks for support messaging in masthead component
  dotcom-rendering/src/components/Masthead.stories.tsx
Owners: @guardian/dotcom-platform

Add a story for UKElectionTracker inside a container
  dotcom-rendering/src/components/UKLocalElectionTracker.stories.tsx
Owners: @guardian/dotcom-platform

add logic to record existence of hidden front containers on page load
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
Owners: @guardian/dotcom-platform

Everything in its right place
  dotcom-rendering/src/components/Titlepiece.tsx
Owners: @guardian/dotcom-platform

Display edition ID or full title depending on screen size
  dotcom-rendering/src/components/Titlepiece.tsx
  dotcom-rendering/src/components/TitlepieceEditionDropdown.tsx
Owners: @guardian/dotcom-platform

use 'header' as new component name in tracking instead of 'nav4'
  dotcom-rendering/src/components/Masthead.tsx
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarMyAccount.tsx
Owners: @guardian/dotcom-platform

Add tag link for desktop
  dotcom-rendering/src/components/GridItem.tsx
  dotcom-rendering/src/components/SeriesSectionLink.tsx
  dotcom-rendering/src/components/TagLink.stories.tsx
  dotcom-rendering/src/components/TagLink.tsx
Owners: @guardian/dotcom-platform

Conditionally render final pillar link bar
  dotcom-rendering/src/components/Titlepiece.tsx
  dotcom-rendering/src/components/TitlepieceEditionDropdown.stories.tsx
Owners: @guardian/dotcom-platform

Responsive gap between pillars and sections
  dotcom-rendering/src/components/Titlepiece.tsx
Owners: @guardian/dotcom-platform

Logo margin adjustments
  dotcom-rendering/src/components/Titlepiece.tsx
Owners: @guardian/dotcom-platform

Refactor pillar dividing bars
  dotcom-rendering/src/components/Titlepiece.tsx
Owners: @guardian/dotcom-platform

CSS polishing/refactoring
  dotcom-rendering/src/components/Titlepiece.tsx
Owners: @guardian/dotcom-platform

remote
  apps.zip
Owners: @guardian/dotcom-platform, @guardian/client-side-infra
