Repository digiv3rse/dotcom-rendering, changes with the labels that .github/labeler.yml gives for each.
All labels: dotcom-rendering, apps-rendering, config

Feat: remove slash test and slash prop
  dotcom-rendering/src/web/components/Card/Card.stories.tsx
  dotcom-rendering/src/web/components/Card/Card.tsx
  dotcom-rendering/src/web/components/CardHeadline.stories.tsx
  dotcom-rendering/src/web/components/CardHeadline.tsx
  dotcom-rendering/src/web/components/FrontCard.tsx
  dotcom-rendering/src/web/components/Kicker.tsx
  dotcom-rendering/src/web/components/LinkHeadline.stories.tsx
  dotcom-rendering/src/web/components/LinkHeadline.tsx
  dotcom-rendering/src/web/components/MostViewedFooterItem.tsx
  dotcom-rendering/src/web/components/MostViewedRightItem.tsx
  dotcom-rendering/src/web/components/SubMeta.tsx
  dotcom-rendering/src/web/components/SupportingContent.tsx
Labels: dotcom-rendering

set background colour
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

background color
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering

Add gallery standfirst font colour
  dotcom-rendering/src/palette.ts
Labels: dotcom-rendering

Create concept of gallery in figure
  dotcom-rendering/src/components/Figure.tsx
Labels: dotcom-rendering

Allow images to take up width
  dotcom-rendering/src/components/ArticleContainer.tsx
  dotcom-rendering/src/components/Picture.tsx
Labels: dotcom-rendering

Adjust gallery caption styles for breakpoints
  dotcom-rendering/src/components/Figure.tsx
Labels: dotcom-rendering

Add gallery styles to the byline
  dotcom-rendering/src/components/HeadlineByline.tsx
Labels: dotcom-rendering

Add gallery grid variant
  dotcom-rendering/src/layouts/ImmersiveLayout.tsx
Labels: dotcom-rendering

Move icon decision into function
  dotcom-rendering/src/components/Caption.tsx
Labels: dotcom-rendering

implement basic crossword page
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/lib/article.ts
  dotcom-rendering/src/lib/renderElement.tsx
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/types/content.ts
Labels: dotcom-rendering

add new /Crossword handler
  dotcom-rendering/src/server/handler.article.web.ts
  dotcom-rendering/src/server/server.dev.ts
  dotcom-rendering/src/server/server.prod.ts
Labels: dotcom-rendering

minimum to make a crossword appear
  dotcom-rendering/index.d.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/Crossword.importable.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/types/frontend.ts
  pnpm-lock.yaml
Labels: dotcom-rendering, config

Run storybook 8 auto-migration
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/package.json
  dotcom-rendering/src/components/AustralianTerritorySwitcher.importable.stories.tsx
  dotcom-rendering/src/components/Dropdown.stories.tsx
  dotcom-rendering/src/components/Nav/Nav.stories.tsx
  dotcom-rendering/src/components/ShowMore.stories.tsx
  pnpm-lock.yaml
Labels: dotcom-rendering, config

Fixed some changes made by the auto-migration
  dotcom-rendering/.storybook/main.ts
  dotcom-rendering/package.json
  pnpm-lock.yaml
Labels: dotcom-rendering, config

Run storybook 8 auto-migration in AR
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering, config

Fixed some changes made by the AR auto-migration
  apps-rendering/.storybook/main.js
  apps-rendering/package.json
  pnpm-lock.yaml
Labels: apps-rendering, config

Alias react to preact in storybook
  dotcom-rendering/.storybook/main.ts
Labels: dotcom-rendering

Only use immersive styling on showcase images below tablet breakpoint
  dotcom-rendering/src/components/Figure.tsx
Labels: dotcom-rendering

chore(lint): remove unused prop
  dotcom-rendering/src/components/FrontSection.tsx
  dotcom-rendering/src/components/Section.tsx
  dotcom-rendering/src/components/Treats.tsx
Labels: dotcom-rendering

Pillar colour highlight on hover
  dotcom-rendering/src/components/Titlepiece.tsx
Labels: dotcom-rendering

Rough implementation using grid
  dotcom-rendering/src/components/Titlepiece.stories.tsx
  dotcom-rendering/src/components/Titlepiece.tsx
  dotcom-rendering/src/components/TitlepieceGrid.tsx
Labels: dotcom-rendering

Add titlepiece to Masthead component and stories
  dotcom-rendering/src/components/Masthead.tsx
  dotcom-rendering/src/components/Titlepiece.stories.tsx
Labels: dotcom-rendering

Rough edition dropdown
  dotcom-rendering/src/components/Masthead.tsx
  dotcom-rendering/src/components/Titlepiece.stories.tsx
  dotcom-rendering/src/components/Titlepiece.tsx
  dotcom-rendering/src/components/TitlepieceEditionDropdown.stories.tsx
  dotcom-rendering/src/components/TitlepieceEditionDropdown.tsx
  dotcom-rendering/src/components/TitlepieceGrid.tsx
Labels: dotcom-rendering

UK Local Election tracker template
  dotcom-rendering/src/components/UKLocalElectionTracker.stories.tsx
  dotcom-rendering/src/components/UKLocalElectionTracker.tsx
Labels: dotcom-rendering

Nav responsiveness and clickability improvements
  dotcom-rendering/src/components/Titlepiece.tsx
Labels: dotcom-rendering

use DCR version of SDC header in new TopBar component only
  dotcom-rendering/src/components/Masthead.tsx
  dotcom-rendering/src/components/SupportTheG.importable.tsx
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/layouts/AllEditorialNewslettersPageLayout.tsx
  dotcom-rendering/src/layouts/CommentLayout.tsx
  dotcom-rendering/src/layouts/FrontLayout.tsx
  dotcom-rendering/src/layouts/FullPageInteractiveLayout.tsx
  dotcom-rendering/src/layouts/InteractiveLayout.tsx
  dotcom-rendering/src/layouts/LiveLayout.tsx
  dotcom-rendering/src/layouts/NewsletterSignupLayout.tsx
  dotcom-rendering/src/layouts/PictureLayout.tsx
  dotcom-rendering/src/layouts/ShowcaseLayout.tsx
  dotcom-rendering/src/layouts/StandardLayout.tsx
  dotcom-rendering/src/layouts/TagPageLayout.tsx
Labels: dotcom-rendering

use DCR support header instead of SDC one
  dotcom-rendering/src/components/SupportTheG.importable.tsx
Labels: dotcom-rendering

remove useHasBeenSeen hook in favour of existsing useIsInView hook
  dotcom-rendering/src/components/marketing/hooks/useHasBeenSeen.ts
Labels: dotcom-rendering

wip designs for support messaging
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/header/Header.tsx
Labels: dotcom-rendering

Add contributions headers to top bar story
  dotcom-rendering/fixtures/manual/contributionsHeader.ts
  dotcom-rendering/src/components/TopBar.stories.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/lib/mockRESTCalls.ts
Labels: dotcom-rendering

migrate header files from support-dotcom-components
  dotcom-rendering/src/components/marketing/hooks/useHasBeenSeen.ts
Labels: dotcom-rendering

update css for support messaging
  dotcom-rendering/src/components/TopBar.importable.tsx
  dotcom-rendering/src/components/TopBarSupport.importable.tsx
  dotcom-rendering/src/components/marketing/header/Header.tsx
Labels: dotcom-rendering

fix sdc storybook decorator for topbar and style signinprompt header
  dotcom-rendering/src/components/TopBar.stories.tsx
  dotcom-rendering/src/components/marketing/header/Header.tsx
  dotcom-rendering/src/components/marketing/header/SignInPromptHeader.tsx
  dotcom-rendering/src/components/marketing/header/common/HeaderDecorator.tsx
Labels: dotcom-rendering

remove duplicated reduce motion css
  dotcom-rendering/src/components/marketing/header/SignInPromptHeader.tsx
Labels: dotcom-rendering

Decide whether to render the UKLocalElectionTracker based on the embedUri
  dotcom-rendering/src/components/Card/Card.tsx
  dotcom-rendering/src/components/FrontCard.tsx
Labels: dotcom-rendering

fix storybook mocks for support messaging in masthead component
  dotcom-rendering/src/components/Masthead.stories.tsx
Labels: dotcom-rendering

Add a story for UKElectionTracker inside a container
  dotcom-rendering/src/components/UKLocalElectionTracker.stories.tsx
Labels: dotcom-rendering

add logic to record existence of hidden front containers on page load
  dotcom-rendering/src/components/ShowHideContainers.importable.tsx
Labels: dotcom-rendering

Everything in its right place
  dotcom-rendering/src/components/Titlepiece.tsx
Labels: dotcom-rendering

.github/labeler.yml:

dotcom-rendering:
  - dotcom-rendering/**/*

apps-rendering:
  - apps-rendering/**

config:
  - any: ["*", "**/*", "!dotcom-rendering/**/*", "!apps-rendering/**"]
